$activeColour:  #3E2AD1;

.left-menu {
  background: #FFFFFF;
  border-right: 1px solid #EEEEEE;
  box-sizing: border-box;
  padding-right: 20px;
  width: 200px;
  min-height: 100vh;
  font-size: 14px;
  letter-spacing: 1px;
  position: fixed;

  .navigation-block {
    padding-left: 0;
    .navigation-link {
      width: 100%;
      line-height: 40px;
      color: #0F1E36;
      opacity: 0.5;
      font-weight: bold;
      list-style-type: none;
      padding-left: 24px;
      display: block;

      &:hover {
        cursor: pointer;
        background-color: #f0efef;
      }
      &:focus {
        border: none;
        color: $activeColour;
        .left-menu-icon {
          fill: $activeColour;
        }
      }
    }

    .title {
      color: #0F1E36;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 16px;
      display: block;
      padding-left: 24px;
      margin-top: 20px;
    }
    .playlist {
      font-size: 14px;
      padding-left: 24px;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      margin-bottom: 16px;
      margin-top: 20px;
      svg {
        fill: #0F1E36;
        opacity: 0.5;
      }
    }
  }

  .main-logo {
    margin: 24px 0 43px 24px;
    max-width: 100%;
    height: auto;
  }
}

.left-menu-icon {
  line-height: 16px;
  height: 16px;
  margin-right: 15px;
  fill: #0F1E36;
  &:focus {
    fill: $activeColour;
  }
}

.active {
  color: $activeColour;
  .left-menu-icon {
    fill: $activeColour;
  }
}
.playlist-plus {

}