@font-face {
  font-family: "Source Sans Pro Regular";
  src: url('/assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.eot');
  src: local("Source Sans Pro Regular"), url('/assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.woff') format('woff'),
  url('/assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype'),
  url('/assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.main-app {
  font-family: "Source Sans Pro Regular";

}
body {
  margin: 0;
}